@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');



#root{
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
    217deg,
    rgba(0, 0, 0, 0.8),
    rgba(3, 3, 3, 0) 70.71%
  ), linear-gradient(127deg, rgba(34, 34, 34, 0.8), rgba(0, 0, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(138, 138, 138, 0.556), rgba(0, 0, 255, 0) 70.71%);
  
  font-weight: bold;
  color: #fff;
}

.bg-rosa{
  background-color: rgb(31, 30, 30);
  display: flex;
  justify-content: center;
  padding: 0;
  color: beige;

}

.boton{
  padding: 0.5rem ;
  background-color: rgb(9, 255, 0);
  text-decoration: none;
  padding: 1rem 3rem;
  color: #fff;
  font-weight: 900;
border-radius: 5px;

}
.centrar{
  display: flex;
  justify-content: center;
  
}

.centrar-columna{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rosa{
  background-color: rgb(255, 0, 251);
  color: #fff;
  font-weight: 900;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bg{
  padding-top: 1rem;
  background-color: #151516;
background-image: linear-gradient(356deg, #151516 0%, #1e1e1e 46%, #55ea15e4 100%);

}
.tarjeta{
  background-color: #ffffff49;
  border: 1px solid #fff;
  color: black;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  color: #fff;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.26);
  
}
.style-titulos{
  color: transparent;
  background-image: linear-gradient(
    20deg
    ,
    #ffffff,
    #6fff00
    );
    background-clip:text;
    -webkit-background-clip:text ; 
    font-weight: 900;
 }
.style-titulos-dos{
  color: transparent;
  background-image: linear-gradient(
    20deg
    ,
    #ffffff,
    #ffffff
    );
    background-clip:text;
    -webkit-background-clip:text ; 
    font-weight: 900;
 }
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
gap: 10px;
}
@media (max-width: 768px) {
  .tarjeta{
    background-color: #4a4a4a84;
    color: #fff;
    border-radius: 20px;
   width: 100%;
  
  }
  iframe{
    width: 318px;
   height: 250px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}